.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Poppins', sans-serif;
  }
  
  .password-card {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .password-header {
    display: flex;
    margin-bottom: 16px;
  }
  
  .password-header h1 {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .password-item {
    margin-bottom: 16px;
    --ion-item-background: white;
    --border-color: white;
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
  }
  
  .toggle-password {
    color: black;
    position: absolute;
    top: 19px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    z-index: 99;
  }
  
  .password-button {
    --background: #7326F1;
    --border-radius: 8px;
    margin-bottom: 16px;
    height: 48px;
    color: white;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  }

  .password-input {
    color: grey;
    border: 0.5px solid gray;
    border-radius: 10px;
    padding: 0 10px 0 10px !important;
  }